pkgbase = libgpcl6-git
	pkgdesc = GhostPCL library for use with 86Box's PCL printing feature
	pkgver = ghostpdl.r11571.fc796c374
	pkgrel = 1
	epoch = 1
	url = https://www.ghostscript.com/
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = git
	makedepends = base-devel
	depends = freetype2
	depends = libxft
	depends = ghostscript
	provides = libgpcl6
	source = libgpcl6-git::git+https://github.com/ArtifexSoftware/ghostpdl.git
	sha256sums = SKIP

pkgname = libgpcl6-git
